.clear {
    clear:both
}

ul.slideshow {
    list-style:none;
    width:600px;
    height:359px;
    overflow:hidden;
    position:relative;
    margin:0;
    margin-top:35px;
    margin-bottom:15px;
    margin-left:10px;
    padding:0;

}

ul.slideshow li {
    position:absolute;
    left:0;
    right:0;
}

ul.slideshow li.show {
    z-index:500;
}

ul img {
    border:1px solid #7e7e7e;
    padding: 6px;
    background: #e1e1e1;
}

#slideshow-caption {
    width:600px;
    height:70px;
    position:absolute;
    bottom:0;
    left:0;
    color:#fff;
    background:#000;
    z-index:600;

}

#slideshow-caption .slideshow-caption-container {
    padding:5px 10px;
    z-index:1000;
}

#slideshow-caption h3 {
    margin:0;
    padding:0;
    font-size:14px;
}

#slideshow-caption p {
    margin:5px 0 0 0;
    padding:0;
}