html{
	font-family: 'Lora', serif;
	font-size: 100%;
	position: relative;
	min-height: 100%;
}

body{
	font-size: 100%;
	margin: 0 0 75px;
}

.poet{
	border-left: 4px #e0e0e0 solid;
	padding-left: 8px;
	font-size:0.9em;
}

footer{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 75px;
	width: 100%;
}

div#section-header h3{
	font-family: 'Lora';
	font-weight: medium;
	font-style: italic;
}

span#social-media{
	margin-right:25px;
}

span#social-media img{
	width:35px;
	height:35px;
}