html{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	min-height: 100%;
}

body{
	font-size: 100%;
	margin: 0;
	margin:0 0 -75px;
}

.poet{
	border-left: 4px #e0e0e0 solid;
	padding-left: 8px;
	font-size:0.9em;
}

#main{
	padding-bottom:1px;
	margin-bottom:-5px;
}

footer{
	
	left: 0;
	bottom: 0;
	height: 75px;
	width: 100%;
}

div#section-header h3{
	font-family: 'Open Sans';
	font-weight: medium;
}

span#social-media{
	display:block;
	margin-top:-20px;
	margin-right:25px;
}

span#social-media img{
	width:35px;
	height:35px;
}

.textwrap{
	float: right;
	margin: 10px;
}

#tblCB{
	width:96%;
}

#tblCB > td{
	white-space:nowrap;
	width: 10px;
}

.dark{
	background-color: #ccc;
}

div#right
{
	width:650px;
	text-align:center;
	margin:0 auto;
}

div#right hr
{
	width:80%;
	height:5px;
	margin:0 auto;
	background:url("../images/hr_gradient.png") no-repeat;
	border:0;
}
